@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');


*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "League Spartan",monospace;
 
//border: 1px solid red;
}

:root{
 --ts: transparent;
 --cn: center;
 --rad: .6289rem; //====> rem
 --fts: 15.899px;
 --func: cubic-bezier();
 --trans: auto .2s var(--func);
 --anime-prop: var(--name) 3s 1 var(--func);
 
 --mx-w: 1440px;
 --st-w: 100%;
 --mx-h: 75vmax;
 --st-h: 100vh;
 
 --v-d-m: hsla(300 43% 22% / 1);
 --s-p: hsla(333 80% 68% / 1);
 --dk-g-m: hsla(303 10% 53% / 1);
 --l-g-m: hsla(300 24% 96% / 1);
 --wt: hsla(0 0% 100% /1);
 // define --func ,--name
}


html{
 width: var(--mx-w);
 min-height: var(--st-h);
 background:{
  image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  position: top left, bottom right;
  size: 40% 50%, 80% 70%;
  repeat: no-repeat;
 }
 body{
  min-height: inherit;
  position: relative;
 }
 
}

/* ------ utility classes ------ */
.hide{
 display: none;
}

.trans:is(:hover,:active) {
 --func: ease;
 transition: var(--trans);
}

h1{
color: var(--v-d-m);
font-size: clamp(2rem,14.5vmin,4rem);
}
h2{
 color: var(--wt);
 font-size: clamp(1.15rem,2vmin,1.19rem);
}
h3{
 color: var(--s-p);
 font-size: clamp(.9rem,1.7vmin,1rem);
}

p{
 color: var(--dk-g-m);
 font-size: clamp(.9rem,1.8vmin,.99rem);
 line-height: 1.4;
}

span,figure{
 height: min-content;
 align-self: var(--cn);
}

$flex-prop:("evenly","around","between");
$flex-dir: "column","row";

@each $name in $flex-dir{
 .fx-#{$name}{
  flex-flow: #{$name};
 }
}

@each $name in $flex-prop{
 .fx-#{$name}{
  display: flex;
  align-content: var(--cn);
  justify-content: space-#{$name};
 }
}


.sc{
 height: var(--mx-h);
 width: 90%;
 align-self: var(--cn);
 
 
 &__intro,&__people{
  height: 40%;
  //background-color: coral;
 }
 &__word,&__rate{
  width: 40%;
 // background-color: orange;
 }
 
&__card{
 align-self: var(--cn);
 background-color: var(--v-d-m);
 width: 30%;
 height: 90%;
 border-radius: var(--rad);
 padding: 2%;
 
 p{
  --dk-g-m: #{var(--wt)};
  flex: .5 1 auto;
  text-align: var(--cn);
  @extend .fx-evenly;
    @extend .fx-column;
 }
  }
  
  &__ico{
   width: 70%;
   img{
    border-radius: var(--st-w);
    width: 70px; // ===>>
    clip: 1;
   }
  }
  
  &__rate{
   div{
    border-radius: var(--rad);
    height: 20%;
    background-color: var(--l-g-m);
    
    &:nth-child(1){
   transform: translate3d(-20%,0,0);
    }
    &:nth-child(2){
   transform: translate3d(-10%,0,0);
    }
   }
   img{
    margin-inline: calc(var(--rad)/2.3);
   }
  }
}
