@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');


*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "League Spartan",monospace;
 
border-block-end: 2px solid var(--v-d-m);
}

:root{
 --ts: transparent;
 --cn: center;
 --rad: 10px; //====> rem
 --fts: 15.899px;
 --func: cubic-bezier();
 --trans: auto .2s var(--func);
 --anime-prop: var(--name) 3s 1 var(--func);
 
 --mx-w: 1440px;
 --st-w: 100%;
 --mx-h: 100vmin;
 --st-h: 100vh;
 
 --v-d-m: hsla(300 43% 22% / 1);
 --s-p: hsla(333 80% 68% / 1);
 --dk-g-m: hsla(303 10% 53% / 1);
 --l-g-m: hsla(300 24% 96% / 1);
 --wt: hsla(0 0% 100% /1);
 // define --func ,--name
}


html{
 width: var(--mx-w);
 min-height: var(--st-h);
 background-color: var(--wt);
 body{
  min-height: inherit;
  position: relative;
 }
 
}

/* ------ utility classes ------ */
.hide{
 display: none;
}

.trans:is(:hover,:active) {
 --func: ease;
 transition: var(--trans);
}

$flex-prop:("evenly","around","between");
$flex-dir: "column","row";

@each $name in $flex-dir{
 .fx-#{$name}{
  flex-flow: #{$name};
 }
}

@each $name in $flex-prop{
 .fx-#{$name}{
  display: flex;
  align-content: var(--cn);
  justify-content: space-#{$name};
 }
}
